@import url(style.css);
div{
    margin: 0 auto; 
    width: 450px;
    background-color: #c3c0c0; 
    padding: 20px; 
    border-radius: 10px; 
}

h1{
    margin: 10px;
}
.m{
    
    background-color: #4b5c5b;
    color: white;
    text-decoration: none;
    display: block;
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    transition: transform 0.3s ease; 
    cursor: pointer; 
    text-align: center;
}

.m:hover{
    background-color: #3a4746; 
    transform: scale(1.1);
}

